<footer class="bg-dark text-white pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <h2 class="text-white mb-3">GiveHope</h2>
          <p>Connecting generous donors with impactful NGOs to create positive change in communities worldwide.</p>
          <div class="social-icons mt-3">
            <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white me-2"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="text-white"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        
        <div class="col-lg-2 col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Quick Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/" class="text-white text-decoration-none">Home</a></li>
            <li class="mb-2"><a href="/about" class="text-white text-decoration-none">About Us</a></li>
            <li class="mb-2"><a href="/causes" class="text-white text-decoration-none">Causes</a></li>
            <li class="mb-2"><a href="/blog" class="text-white text-decoration-none">Blog</a></li>
            <li class="mb-2"><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
        
        <div class="col-lg-2 col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Support</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/faq" class="text-white text-decoration-none">FAQ</a></li>
            <li class="mb-2"><a href="/privacy" class="text-white text-decoration-none">Privacy Policy</a></li>
            <li class="mb-2"><a href="/terms" class="text-white text-decoration-none">Terms of Service</a></li>
            <li class="mb-2"><a href="/cookies" class="text-white text-decoration-none">Cookie Policy</a></li>
          </ul>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-4">
          <h5 class="text-uppercase mb-3">Contact Us</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> 123 Charity St, Hope City</li>
            <li class="mb-2"><i class="fas fa-phone me-2"></i> +1 (555) 123-4567</li>
            <li class="mb-2"><i class="fas fa-envelope me-2"></i> info@givehope.org</li>
            <li class="mb-2"><i class="fas fa-clock me-2"></i> Mon-Fri: 9AM - 5PM</li>
          </ul>
          
          <h5 class="text-uppercase mt-4 mb-3">Newsletter</h5>
          <form class="mb-3">
            <div class="input-group">
              <input type="email" class="form-control" placeholder="Your email">
              <button class="btn btn-primary" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      
      <div class="border-top pt-3 mt-3 text-center">
        <p class="mb-0">&copy; 2025 GiveHope. All rights reserved.</p>
      </div>
    </div>
  </footer>